@model DULUXFINALPART1.Models.GuardsPage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GuardsPage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guard_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guard_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guard_SecurityCard_No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guard_SecurityCard_No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver_SecurityCard_No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver_SecurityCard_No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtractedText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtractedText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Signature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acceptance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acceptance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendToControlRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendToControlRoom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GuardsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<script src="//code.tidio.co/daq8vctxa39sfedllqglgoc1fzfoapgx.js" async></script>
